* {
    margin: 2px;
    padding: 0;
    border: 0;
}


header {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
}

p.brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

h3 {
    padding-top: 30px;
    padding-bottom: 15px;
}

p.frames {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

img {
    position: relative;
    top: 20px;
    clear: both;
}

p.paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}


span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}